- include: meta/defaults.yaml

- ifposix:
  - install:
    - iffreebsd:
      - shell:
        - pkg install -y editors/bvi
    - ifdebian:
      - shell:
        - apt-get -y install bvi
    - ifmacos:
      - shell:
        - port install bvi
  - config:
    - link:
        ~/.bvirc: files/bvirc
