- include: meta/defaults.yaml

- ifposix:
  - install:
    - iffreebsd:
      - shell:
        - pkg install -y devel/universal-ctags
    - ifdebian:
      - shell:
        - apt-get -y install universal-ctags
    - ifmacos:
      - shell:
        - port install universal-ctags +link_to_ctags
  - config:
    - link:
        ~/.ctags: files/ctags
