- include: meta/defaults.yaml

- ifposix:
  - install:
    - iffreebsd:
      - shell:
        - pkg install -y print/latexmk
    - ifdebian:
      - shell:
        - apt-get -y install latexmk
    - ifmacos:
      - shell:
        - port install latex-mk
  - config:
    - link:
        ~/.latexmkrc: files/latexmkrc
