- include: meta/defaults.yaml

- install:
  - iffreebsd:
    - shell:
      - pkg install -y editors/neovim
  - ifdebian:
    - shell:
      - apt-get -y install neovim
  - ifmacos:
    - shell:
      - port install neovim
  - ifwindows:
    - shell:
      - winget install -i Neovim.Neovim
      - reg import extra/Windows/Neovim.reg

- config:
  - ifposix:
    - link:
        ~/.config/nvim: files/nvim
  - ifwindows:
    - link:
        '%LOCALAPPDATA%/nvim': files/nvim
