- include: meta/defaults.yaml

- install:
  - iffreebsd:
    - shell:
      - pkg install -y devel/subversion
  - ifdebian:
    - shell:
      - apt-get -y install subversion
  - ifmacos:
    - shell:
      - port install subversion
  - ifwindows:
    - shell:
      - winget install -i TortoiseSVN.TortoiseSVN

- config:
  - link:
      ~/.subversion: files/subversion
