- include: meta/defaults.yaml

- ifposix:
  - install:
    - iffreebsd:
      - shell:
        - pkg install -y graphics/zathura graphics/zathura-pdf-mupdf
    - ifdebian:
      - shell:
        - apt-get -y install zathura zathura-pdf-poppler
    - ifmacos:
      - shell:
        - port install zathura zathura-plugin-pdf-mupdf
  - config:
    - link:
        ~/.config/zathura/zathurarc: files/zathurarc
