- include: meta/defaults.yaml

- ifposix:
  - install:
    - iffreebsd:
      - shell:
        - pkg install -y shells/zsh
    - ifdebian:
      - shell:
        - apt-get -y install zsh
    - ifmacos:
      - shell:
        - port install zsh
  - config:
    - link:
        ~/.zshenv: files/zshenv
        ~/.zshrc: files/zshrc
        ~/.zshrc.d: files/zshrc.d
