[submodule "files/vim/bundle/command-t"]
	path = files/vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "files/vim/bundle/editorconfig-vim"]
	path = files/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "files/vim/bundle/gist-vim"]
	path = files/vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "files/vim/bundle/hexmode"]
	path = files/vim/bundle/hexmode
	url = https://github.com/fidian/hexmode.git
[submodule "files/vim/bundle/lightline"]
	path = files/vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "files/vim/bundle/lightline-wtf"]
	path = files/vim/bundle/lightline-wtf
	url = https://github.com/sstallion/lightline-wtf.git
[submodule "files/vim/bundle/terminus"]
	path = files/vim/bundle/terminus
	url = https://github.com/wincent/terminus.git
[submodule "files/vim/bundle/vim-bookmarks"]
	path = files/vim/bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "files/vim/bundle/vim-commentary"]
	path = files/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "files/vim/bundle/vim-cursorline"]
	path = files/vim/bundle/vim-cursorline
	url = https://github.com/sstallion/vim-cursorline.git
[submodule "files/vim/bundle/vim-dispatch"]
	path = files/vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "files/vim/bundle/vim-eunuch"]
	path = files/vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "files/vim/bundle/vim-fugitive"]
	path = files/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/vim/bundle/vim-gitgutter"]
	path = files/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "files/vim/bundle/vim-go"]
	path = files/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "files/vim/bundle/vim-grepper"]
	path = files/vim/bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "files/vim/bundle/vim-gutentags"]
	path = files/vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "files/vim/bundle/vim-localvimrc"]
	path = files/vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "files/vim/bundle/vim-misc"]
	path = files/vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "files/vim/bundle/vim-pathogen"]
	path = files/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "files/vim/bundle/vim-polyglot"]
	path = files/vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "files/vim/bundle/vim-qf"]
	path = files/vim/bundle/vim-qf
	url = https://github.com/romainl/vim-qf.git
	ignore = dirty
[submodule "files/vim/bundle/vim-scriptease"]
	path = files/vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "files/vim/bundle/vim-session"]
	path = files/vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "files/vim/bundle/vim-tmux-navigator"]
	path = files/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "files/vim/bundle/vim-vinegar"]
	path = files/vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "files/vim/bundle/vim-whitespace"]
	path = files/vim/bundle/vim-whitespace
	url = https://github.com/sstallion/vim-whitespace.git
[submodule "files/vim/bundle/vim-wildignore"]
	path = files/vim/bundle/vim-wildignore
	url = https://github.com/sstallion/vim-wildignore.git
[submodule "files/vim/bundle/vim-wtf"]
	path = files/vim/bundle/vim-wtf
	url = https://github.com/sstallion/vim-wtf.git
[submodule "files/vim/bundle/vim-yankstack"]
	path = files/vim/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "files/vim/bundle/vim-gnupg"]
	path = files/vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "files/vim/bundle/vimwiki"]
	path = files/vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "files/vim/bundle/webapi-vim"]
	path = files/vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
