[submodule "files/vim/bundle/command-t"]
	path = files/vim/bundle/command-t
	url = git://github.com/sstallion/command-t.git
[submodule "files/vim/bundle/gist-vim"]
	path = files/vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "files/vim/bundle/hexmode"]
	path = files/vim/bundle/hexmode
	url = git://github.com/fidian/hexmode.git
[submodule "files/vim/bundle/lightline"]
	path = files/vim/bundle/lightline
	url = git://github.com/itchyny/lightline.vim
[submodule "files/vim/bundle/lightline-wtf"]
	path = files/vim/bundle/lightline-wtf
	url = git://github.com/sstallion/lightline-wtf.git
[submodule "files/vim/bundle/vim-bookmarks"]
	path = files/vim/bundle/vim-bookmarks
	url = git://github.com/MattesGroeger/vim-bookmarks.git
[submodule "files/vim/bundle/vim-commentary"]
	path = files/vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "files/vim/bundle/vim-cursorline"]
	path = files/vim/bundle/vim-cursorline
	url = git://github.com/sstallion/vim-cursorline.git
[submodule "files/vim/bundle/vim-eunuch"]
	path = files/vim/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "files/vim/bundle/vim-fugitive"]
	path = files/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "files/vim/bundle/vim-gitgutter"]
	path = files/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "files/vim/bundle/vim-localvimrc"]
	path = files/vim/bundle/vim-localvimrc
	url = git://github.com/embear/vim-localvimrc.git
[submodule "files/vim/bundle/vim-misc"]
	path = files/vim/bundle/vim-misc
	url = git://github.com/xolox/vim-misc.git
[submodule "files/vim/bundle/vim-pathogen"]
	path = files/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "files/vim/bundle/vim-polyglot"]
	path = files/vim/bundle/vim-polyglot
	url = git://github.com/sheerun/vim-polyglot.git
[submodule "files/vim/bundle/vim-session"]
	path = files/vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "files/vim/bundle/vim-tmux-navigator"]
	path = files/vim/bundle/vim-tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
[submodule "files/vim/bundle/vim-togglelist"]
	path = files/vim/bundle/vim-togglelist
	url = git://github.com/milkypostman/vim-togglelist.git
[submodule "files/vim/bundle/vim-vinegar"]
	path = files/vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "files/vim/bundle/vim-whitespace"]
	path = files/vim/bundle/vim-whitespace
	url = git://github.com/sstallion/vim-whitespace.git
[submodule "files/vim/bundle/vim-wildignore"]
	path = files/vim/bundle/vim-wildignore
	url = git://github.com/sstallion/vim-wildignore.git
[submodule "files/vim/bundle/vim-wtf"]
	path = files/vim/bundle/vim-wtf
	url = git://github.com/sstallion/vim-wtf.git
[submodule "files/vim/bundle/vim-yankstack"]
	path = files/vim/bundle/vim-yankstack
	url = git://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "files/vim/bundle/webapi-vim"]
	path = files/vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
