<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.openssh.ssh-agent-x509</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/ssh-agent</string>
		<string>-l</string>
	</array>
	<key>ServiceIPC</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockPathName</key>
			<string>/private/var/run/ssh-agent-x509</string>
		</dict>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
